@import "../../_colors";
@import "../../_variables";

.hd_container{
    width: 100%;
    min-height: auto;
    height: auto;
    position: relative;
    // overflow: hidden;
    top: 0;
    left: 0;
    background-color: #00e5ff;
    border-style: dashed;
    border-color: #546e7a;
    border-top: none;
    border-bottom: none;
    border-width: 10px; 
    -webkit-box-shadow: 5px 5px 10px -4px rgba(0,0,0,0.6);
    -moz-box-shadow: 5px 5px 10px -4px rgba(0,0,0,0.6);
    box-shadow: 5px 5px 10px -4px rgba(0,0,0,0.6);
    z-index: 10;
    overflow: hidden;
}



.avatar-container{
    width: 50px;
    height: 200px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar-img{
    background-image: url('../../assets/avatar.jpg');
    background-size: cover;  
    width: 160px;
    height: 160px;
    @media #{$small-and-down} {
          width: 150px;
          height: 150px;
    }
    border-radius: 50%;
    background-color: #ff4081;
    -webkit-box-shadow: 5px 5px 10px -4px rgba(0,0,0,0.6);
    -moz-box-shadow: 5px 5px 10px -4px rgba(0,0,0,0.6);
    box-shadow: 5px 5px 10px -4px rgba(0,0,0,0.6);
    border: solid;
    border-color: #ffff00;
    border-width: 6px;
}

h3>span{
    padding: 10px;
    background-color: rgba(#ffff00, 1) ;
    color: #ff4081;
    font-size: 20px;
    font-family: 'PT Mono', monospace;
    font-weight: bold;
    -webkit-box-shadow: 5px 5px 10px -4px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 5px 10px -4px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 10px -4px rgba(0,0,0,0.5);
}


h2>span{
    padding: 10px;
    background-color: rgba(#ffff00, 1) ;
    -webkit-box-shadow: 5px 5px 10px -4px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 5px 10px -4px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 10px -4px rgba(0,0,0,0.5);
    color: #546e7a;
    font-family: 'Droid Sans', sans-serif;
    @media #{$small-and-down} {
        font-size: 35px;
    }
}
