@import "../../_colors";
@import "../../_variables";

.hd_container{
    width: 100%;
    min-height: 200px;
    height: auto;
    position: absolute;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hd_bg-color{
    position: absolute;
    width: 100%;
    height: 200px;
    top: 0;
    left: 0;
    background-color: #00e5ff;
    border-style: dashed;
    border-color: #546e7a;
    border-top: none;
    border-bottom: none;
    border-width: 10px; 
    -webkit-box-shadow: 5px 5px 10px -4px rgba(0,0,0,0.2);
    -moz-box-shadow: 5px 5px 10px -4px rgba(0,0,0,0.2);
    box-shadow: 5px 5px 10px -4px rgba(0,0,0,0.2);
}
span{
    padding: 10px;
    background-color: rgba(#ffff00, 1) ;
    -webkit-box-shadow: 5px 5px 10px -4px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 5px 10px -4px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 10px -4px rgba(0,0,0,0.5);
}
h3>span{
    /*
    border-style: solid;
    border-color: #546e7a;
    border-width: 2px;
    */
    padding: 10px;
    background-color: rgba(#ffff00, 1) ;
    -webkit-box-shadow: 5px 5px 10px -4px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 5px 10px -4px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 10px -4px rgba(0,0,0,0.5);
}


h2{
    color: #546e7a;
    font-family: 'Droid Sans', sans-serif;
    @media #{$small-and-down} {
        font-size: 35px;
    }
}

h3{
    color: #ff4081;
    font-size: 20px;
    font-family: 'PT Mono', monospace;
    font-weight: bold;
}