<div class="row">
    <div [@slideCard1]="slideCard1St" class="myCardBox col s6">
        <div class="myCard">
            <h2 class="center-align"><span>body</span></h2>
        </div>
    </div>
    <div [@slideCard1]="slideCard1St" class="myCardBox col s6">
        <div class="myCard">
            <h2 class="center-align"><span>body</span></h2>
        </div>
    </div>
    <div [@slideCard1]="slideCard1St" class="myCardBox col s6">
        <div class="myCard">
            <h2 class="center-align"><span>body</span></h2>
        </div>
    </div>
    <div [@slideCard1]="slideCard1St" class="myCardBox col s6">
        <div class="myCard">
            <h2 class="center-align"><span>body</span></h2>
        </div>
    </div>
</div>