$color1: #00e5ff;
$color2: #343F48; 

.bg-color1{
    background-color: $color1!important;
}

.bg-color2{
    background-color: $color2!important;
}

.txt-color1{
    color: $color1;
}

.txt-color2{
    color: $color2;
}