@import './_variables';

body, html{
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Droid Sans', sans-serif;
    background-color: $primary-2;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}

.flex{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preloader{
    width: 30px;
    height: 30px;
    background-color: #546e7a;
}
/*
font-family: 'Ubuntu', sans-serif;
font-family: 'Droid Sans', sans-serif;
font-family: 'Cinzel', serif;
font-family: 'Vidaloka', serif;
font-family: 'PT Mono', monospace;
*/